*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color:white;
	width: 100vw;
	font-family: 'Krona One', sans-serif;
}

body#homePage{
	background-image: url('../images/fondo.jpg');
}

/*Home Page*/

.home{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Krona One', sans-serif;
	text-shadow: 2px 2px #ccc;
}

.home__title{
	font-size: 4em;
}

.home__opciones{
	display: flex;
	flex-direction: row;
	width: 60%;
	justify-content: space-around;
}

.home__opciones a{
	color: white;
	text-decoration: none;
	font-size: 2em;
	transition: 1s;
}

.home__opciones a:hover{
	cursor: pointer;
	transform: scale(1.2);
}

.home__footer{
	text-align: center;
	font-size: .9em;
	text-shadow: none;
	margin-top: 50px;
}

@media only screen and  (max-width: 1080px) {
    .home__title{
		font-size: 2.8em;
	}
}

@media only screen and  (max-width: 800px) {
    .home__title{
		font-size: 2em;
	}
	.home__opciones a{
		font-size: 1.4em;
	}
}

@media only screen and  (max-width: 530px) {
    .home__title{
		text-align: center;
	}
}


/*Login Page*/

body#loginPage{
	background-image: url('../images/fondo.jpg');
	background-size: 100% 100vh;
}

.login{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Krona One', sans-serif;
}

.login header>h1.titulo{
	font-size: 2.5em;
	text-shadow: 2px 2px #ccc;
}

.login header>h2.subtitulo{
	text-align: center;
	font-size: 2em;
	text-shadow: 2px 2px #ccc;
}

.loginMain__form{
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loginMain__form__item{
	width: 40%;
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

.loginMain__form__item>label{
	margin-top: 10px;
}

.form__input{
	padding: 10px;
	width: 50%;
	border: none;
	border-radius: 20px;
	font-family: 'Krona One', sans-serif;
	font-size: .7em;
}

.i1{
	margin-left: 20px;
}

.form__btn{
	width: 150px;
	padding: 12px;
	border: 4px solid  #333;
	border-radius: 20px;
	font-family: 'Krona One', sans-serif;
	font-size: .8em;
	background: white;
	color: #333;

}

.form__btn:hover{
	cursor: pointer;
}

.loginMain__enlaces a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 25px;
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	transition: 1s;
}

.loginMain__enlaces a:hover{
	cursor: pointer;
}

@media only screen and  (max-width: 800px) {
    .login header>h1.titulo{
		font-size: 2em;
	}
	.login header>h2.subtitulo{
		font-size: 1.6em;
	}
	.loginMain__form__item{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.form__input{
		margin: 10px;
		width: 80%;
	}
	.loginMain__enlaces a{
		font-size: .9em;
	}

}

@media only screen and  (max-width: 800px) {
    .login header>h1.titulo{
		font-size: 1.8em;
		text-align: center;
	}
}

/*Sign Up*/

body#signUpPage{
	background-image: url('../images/fondo.jpg');
	background-size: 100vw 100%;
	overflow-x: hidden;
}

.signUp{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.signUp header>h1{
	font-size: 2.5em;
	text-shadow: 2px 2px #ccc;
}

.signUp header>h2{
	text-align: center;
	font-size: 2em;
	text-shadow: 2px 2px #ccc;
}
.registroMain{
	width: 100%;
}
.registroMain__form{
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: 2px 2px black;
}

.registroMain__form input{
	width: 80%;
}

.form__data{
	display: flex;
	flex-direction: row;
	
	justify-content: space-around;
}

.registroMain__form__item{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.registroMain__form__item label{
	padding: 10px;	
}

.registroMain__form .form__btn{
	margin-top: 20px;
}

.registroMain__enlaces a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 25px;
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	transition: 1s;
	margin-bottom: 10px;

}

.registroMain__enlaces a:hover{
	cursor: pointer;
}

@media only screen and  (max-width: 800px) {
	body{
		height: 100%;
	    background-attachment: fixed;
    	background-size: cover;
	}
    .signUp header>h1{
		font-size: 2em;
	}
	.registroMain__form{
		width: 100%;
	}
	.form__data{
		text-align: center;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and  (max-width: 800px) {
	.signUp header>h1{
		font-size: 1.8em;
		text-align: center;
	}
	.signUp header>h2{
		font-size: 1.4em;
	}
}

/*Registro Torneo*/

body#registroTorneoPage{
	background-image: url('../images/fondo.jpg');
	background-size: 100% 100vh;
}

.registroTorneo{
	width: 100%;
	height: 100vh	;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.registroTorneoMain__form{
	margin: 50px;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.registroTorneoMain__form__item {
	margin: 25px;
	text-shadow: 2px 2px black;
}

.registroTorneoMain__form__item label{
	font-size: 1.5em;
}


.registroTorneoMain__form__item select, input{
	padding: 10px;
	font-size: 1em;
	font-family: 'Krona One', sans-serif;
	border: none;
	color: white;
	background: #333;
	margin-left: 10px;
}

.registroTorneoMain__form__item .categoriaLabel{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.registroTorneoMain__form__item .categoria input[type="radio"]{
 	display:inline-block;
    width:16px;
    height:16px;
    /*margin:-1px 4px 0 0;*/
      margin: 2px 20px auto;
  padding: 0 10px;
}

.registroTorneoMain__form .form__btn{
	text-align: center;	
}

.labelCategoria{
	text-align: center;
}

.categoria{
	display: flex;
	width: 100%;
	justify-content: space-around;
}

/*Listado Torneos*/
body#listadoTorneosPage{
	background-image: url('../images/fondo.jpg');
	background-size: 100% 100vh;
}

.listadoTorneos{
	width: 100%;
	height: 100vh	;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.listadoTorneos h1{
	text-shadow: 2px 2px #333;
}

.listadoTorneos__main .enlaces{
	display: flex;
	width: 100vw;
	justify-content: space-around;
	margin-top: 50px;
	margin-bottom: 20px;
}
.listadoTorneos__main .enlaces .form__btn{
	width: 200px;
	text-align: center;

}
.listadoTorneos__main .enlaces .form__btn:last-child{
	font-size: 1.1em; 	
	padding-bottom: 5px;
	margin-top: 10px;
}
.listadoTorneos__main .enlaces a{
	text-decoration: none;
}

.listadoTorneos__main__table{

	text-shadow: 2px 2px #333;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background: rgba(51, 51, 51, 0.8);

}

.listadoTorneos__main__table th{
	padding-top: 20px;
}

.listadoTorneos__main__table tr, td{
	padding: 20px;	
	z-index: 1;
}

.listadoTorneos__main__table{
	text-align: center;
}




/*Admin Panel*/

body#adminPanelPage{
	height: 100%;
	background-image: url('../images/fondo.jpg');
	overflow-x: hidden;

}

.adminPanel{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: 2px 2px black;
}

.adminPanel__main__table{
  text-align: center;
  text-shadow: 2px 2px #333;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background: rgba(51, 51, 51, 0.8);
}

.adminPanel__main__table th{
	padding-top: 20px;
}

.button-panel{
	width: 150px;
	padding: 12px;
	border: 4px solid  #333;
	border-radius: 20px;
	font-family: 'Krona One', sans-serif;
	font-size: .8em;
	background: white;
	color: #333;
	text-decoration: none;
	text-shadow: none;
	transition: .7s;
}

.button-panel:hover{
	cursor: pointer;
	background: #333;
	color: white;
	transition: .7s;
}

.adminPanel .enlaces{
	margin-top: 50px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.adminPanel .enlaces a{
	margin: 0px 10px;
	margin-bottom: 15px;
}

/*Ver Torneos*/

body#verTorneosPage{
	height: 100vh;
	width: 100%;	
	background-image: url('../images/fondo.jpg');
	overflow-x: hidden;
}

.verTorneosEnlaces a{
	margin: 0px 10px;
	margin-bottom: 15px;
}
/*Ver Detalles*/

body#verDetallesPage{
	background-image: url('../images/fondo.jpg');
	background-size: 100% 100vh;
}

.verDetalles{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: 2px 2px black;
}

.verDetalles__main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	  background: rgba(51, 51, 51, 0.8);
	  width: 100%;
}

.verDetalles__main label{
	margin: 15px;
	font-size: 1.3em;
}

.verDetalles__main__enlaces{
	display: flex;
	flex-direction: row;
	width: 80%;
	justify-content: space-around;
}
.verDetalles__main__enlaces form{
	margin: 12px;
}
/*Editar Registro*/

#editarRegistroPage{
	background-image: url('../images/fondo.jpg');
	background-size: 100% 100vh;	
}

.editarRegistro{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: 2px 2px black;
}

.modificarBtn{
	margin:10px;
}

.enlacesEditar{
	text-shadow: none;
	margin: 12px;
}


.enlacesEditar, .modificarBtn{
	display: flex;
	justify-content: center;
}
.enlaces a.form__btn{
	text-decoration: none;
	text-align: center;
	margin-bottom: 15px;
	transition: .7s;
}
.enlaces a.form__btn:hover{
	background: #333;
	color: white;
	transition: .7s;
}

/*Crear Torneo*/


body#crearTorneoPage{
	background-image: url('../images/fondo.jpg');
	background-size: 100% 100vh;
}

.crearTorneo{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: 2px 2px black;
}

.crearTorneo h2{
	text-align: center;
}

.crearTorneo__main .form__btn{
	margin-top: 10px;	
}

.crearTorneo__main label{
	font-size: 1.2em;
}

.crearTorneo__main .enlaces{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.crearTorneo__main .enlaces a{
	text-decoration: none;
	text-shadow: none;
	text-align: center;
}

.crearTorneo__main__form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin-bottom: 15px;
}

.form__data{
	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: space-around;
	margin: 10px;
}

