/*Files Includes*/

@import "home.css";
@import "login.css";
@import "signup.css";
@import "registroTorneo.css";
@import "listadoTorneos.css";
@import "adminPanel.css";
@import "verDetalles.css";
@import "editarRegistro.css";
@import "crearTorneo.css";

*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color:white;
	width: 100vw;
	font-family: 'Krona One', sans-serif;
}

body#homePage{
	background-image: url('../images/fondo.jpg');
}
